.container {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  border-radius: 80px;
  background-color: #ECE5C7;
  overflow: hidden;
  height: 22rem;
  align-items: center;
}

.img {
  width: 15rem;
  height: 16rem;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #740021;
}

.bottom {
  justify-content: center;
}

.header {
  margin: 0 0 2px 0;
  font-weight: bold;
  font-size: 1rem;
}

.down {
  margin: 0;
  font-size: .8rem;
  padding-left: 10px;
}

.left {
  margin-right: 2rem;
}

.right {
  font-weight: bold;
}

button {
  color: #740021;
  background-color: #FEF9A7;
  border-radius: 100px;
  border: none;
  width: 8rem;
  height: 2rem;
  margin-bottom: 5px;
}

/* navigation */
nav {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ECE5C7;
  width: 35rem;
  border-radius: 100px;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 5px;
}

.special {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-btn {
  color: #740021;
  background-color: #FEF9A7;
  border-radius: 100px;
  border: none;
  width: 6rem;
  height: 2rem;
  margin: 5px 2px;
  font-size: .8rem;
}

.nav-btn:focus {
  height: 4rem;
  width: 10rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}



/* flexiblw article */

.article-container{
  margin-top: 10rem;
  background-color: #ECE5C7;
  display: flex;
  width: 65rem;
  border-radius: 20px;



  /* @media only screen and(width:125rem){
    flex-direction: column;
  } */
}
.img-img{
  margin: 2rem;
  width: 30rem;
  height: 20rem;
}
.article-texts{
  margin: 0 2rem;
  margin-left: 0;
  color: #740021;
}
@media screen and (max-width: 75em){
  .article-container{
    display: flex;
    flex-direction: column;
  }
  .img-img{
    width: 90%
  }
  .article-texts{
    width: 90%;

    margin-left: 32px
  }
}
